
<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
 <form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_resetting_reset">
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">PERFIL DE USUARIO</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class=" col-md-12 col-lg-12 "> 

          <table class="table table-user-information">
            <tbody>

              
              <tr>
                <td><label for="username">New password:</label></td>
                <td>{{ form_widget(form.new.first) }} </td>
              </tr>
              <tr>
                <td><label for="username">New password confirmation:</label></td>
                <td>{{ form_widget(form.new.second) }} </td>
              </tr>
            </tbody>
          </table>
          {{ form_widget(form._token) }}
        </div>
      </div>
    </div>
    <div class="panel-footer">
     <div class="row">
      <div class="col-md-12">
        <a class="btn btn-info" href="{{ path('user') }}"><i class="glyphicon glyphicon-arrow-left"></i> Volver</a>
        <span class="pull-right">

          <button  type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i> Guardar</button>
        </span>
      </div>
    </div>


  </div>

</div>
</form>
</div>