{% extends "FOSUserBundle::layout.html.twig" %}
{% block title %} EDITAR GRUPO {% endblock %}

{% block fos_user_content %}
{% include "FOSUserBundle:Group:edit_content.html.twig" %}
{% endblock fos_user_content %}
