<div class="panel panel-primary">
	<!-- Default panel contents -->
	<div class="panel-heading" style="height:50px">
		<div class="pull-left"><i class="glyphicon glyphicon-list-alt"></i> GRUPO</div>
		<!--div class="pull-right"><a href="{{ path('fos_user_group_new') }}" type="button" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i> CREAR</a></div-->   
	</div>
	<div class="panel-body">
		<div class="panel-body">
			<div class="fos_user_group_show">
				<p>{{ 'GRUPO '|trans([], 'FOSUserBundle') }}: {{ group.getName() }}</p>
			</div>
			<div class="fos_user_group_show">
				<p>{{ 'ROLES '|trans([], 'FOSUserBundle') }}: 
					{% for role in group.roles %}
					{{ role }}
					{% endfor %}
				</p>
			</div>
		</div>
	</div>
</div>
