<form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
	<div class="container">
  <div class="row">
	{% form_theme form 'FOSUserBundle:Theme:editar.theme.html.twig' %}
    {{ form_widget(form) }}
   </div>
</div>
</form>