
<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
	{% form_theme form 'FOSUserBundle:Theme:regiter.theme.html.twig' %}
    {{ form_widget(form) }}
    <div style="text-align:right">
        <input type="submit" class="btn btn-default" value="{{ 'Registrar'|trans({}, 'FOSUserBundle') }}" />
    </div>
</form>