{% block quay_encuestascgcbundle_encuesta_widget %}
    <div class="col-xs-1">
			Fecha:
	</div>

    <div class="col-xs-3">
        <div class='input-group date' id='datetimepicker1' >
        	{{ form_widget(form.fecha) }}
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
        </div>
    </div>

    <div class="col-xs-1">
    Codigo Operador:
  </div>
  <div class="col-xs-3">
    {{ form_widget(form.codigo) }}
  </div>

    <div class="col-xs-1">
		Turno:
	</div>
	<div class="col-xs-3">
		{{ form_widget(form.turno) }}
	</div>

    <br><br><br>
    
    <div class="col-xs-1">
		Tramite:
	</div>
	<div class="col-xs-3">
		{{ form_widget(form.tipo) }}
	</div>

	
	<div class="col-xs-2">
		Primera vez?:
	</div>
	<div class="col-xs-1">
		{{ form_widget(form.primeraVez) }}
	</div>

	<br><br>

	<table class="table">
      <thead>
        <tr>
          <th>La Informacion Solicitada</th>
          <th style="text-align: center">SI</th>
          <th style="text-align: center">MEDIANAMENTE</th>
          <th style="text-align: center">NO</th>
        </tr>
      </thead>
      <tbody>
        <tr class="active">
          <th scope="row">a-  Coincidio con lo solicitado</th>
          {% for pertinencia in form.pertinencia   %}
				<td style="text-align: center">{{ form_widget(pertinencia) }}</td>
		  {% endfor %}
        </tr>
        <tr class="active">
          <th >b-  Fue completa</th>
            {% for completitud in form.completitud   %}
				<td style="text-align: center">{{ form_widget(completitud) }}</td>
		    {% endfor %}
        </tr>
        <tr class="active">
          <th scope="row">c- Se entrego a tiempo</th>
          {% for satisfaccion in form.satisfaccion   %}
	    		<td style="text-align: center">{{ form_widget(satisfaccion) }}</td>
		    {% endfor %}    
        </tr>
      </tbody>
    </table>
		

	<table class="table">
      <thead>
        <tr>
          <th>Trato del operador</th>
          <th style="text-align: center">EXCELENTE</th>
          <th style="text-align: center">MUY BUENO</th>
          <th style="text-align: center">BUENO</th>
          <th style="text-align: center">REGULAR</th>
          <th style="text-align: center">NECESITA MEJORAR</th>
        </tr>
      </thead>
      <tbody>
        <tr class="active">
          <th scope="row">a- Trato? </th>
          {% for empatia in form.empatia   %}
				<td style="text-align: center">{{ form_widget(empatia) }}</td>
		    {% endfor %}
        </tr>
      </tbody>
    </table>    

	<div class="row">
    	<div class="col-md-2">
  			 {{ form_label(form.comentario) }}
  		</div>
  		<div class="col-md-9">
  			 {{form_widget(form.comentario) }}
  		</div>
 


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Confirmacion</h4>
      </div>
      <div class="modal-body">
        Seguro que desea cargar la encuesta?
      </div>
      <div class="modal-footer"> 
     <!--   <button type="button" class="btn btn-default glyphicon" data-dismiss="modal">Cancelar</button><br>-->
        {{ form_row(form.submit) }}
       </div>
    </div>
  </div>
</div>
<br>

      <div class="pull-right" style="margin-top:1%;">
        <button type="button" class="btn btn-default glyphicon glyphicon-plus" data-toggle="modal" data-target="#myModal">
  Agregar
</button>
      </div>    

	</div>	
{% endblock %}
