{% extends "QUAYEncuestasCGCBundle::layout.html.twig" %}
{% form_theme edit_form 'QUAYEncuestasCGCBundle:Form:encuesta.theme.html.twig' %}

{% block body -%}
    <h1>Encuesta edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('encuesta') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
