{% extends "QUAYEncuestasCGCBundle::layout.html.twig" %}

{% block body -%}
    <h1>Encuesta list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Calidad</th>
                <th>Satisfaccion</th>
                <th>Empatia</th>
                <th>Pertenencia</th>
                <th>Completitud</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('encuesta_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.calidad }}</td>
                <td>{{ entity.satisfaccion }}</td>
                <td>{{ entity.empatia }}</td>
                <td>{{ entity.pertenencia }}</td>
                <td>{{ entity.completitud }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('encuesta_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('encuesta_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('encuesta_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
