{% extends "QUAYEncuestasCGCBundle::layout.html.twig" %}
{% form_theme form 'QUAYEncuestasCGCBundle:Form:encuesta.theme.html.twig' %}

{% block content -%}

	<hr>
		<h2 class="intro-text text-center">
            <strong>Encuesta de Conformidad</strong>
        </h2>
    <hr>
    {{ form(form) }}
{% endblock %}


{% block javascripts1 %}

 	{{ parent() }}

<script src="{{asset('js/')}}moment.js"></script>
 <script src="{{asset('js/')}}bootstrap-datetimepicker.js"></script>
 <script src="{{asset('js/')}}bootstrap-datetimepicker.ru.js"></script>

<script type="text/javascript">
	$(function () {$('#datetimepicker1').datetimepicker();});
</script>

{% endblock %}