{% extends "QUAYEncuestasCGCBundle::layout.html.twig" %}

{% block body -%}
    <h1>Encuesta</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Calidad</th>
                <td>{{ entity.calidad }}</td>
            </tr>
            <tr>
                <th>Satisfaccion</th>
                <td>{{ entity.satisfaccion }}</td>
            </tr>
            <tr>
                <th>Empatia</th>
                <td>{{ entity.empatia }}</td>
            </tr>
            <tr>
                <th>Pertenencia</th>
                <td>{{ entity.pertenencia }}</td>
            </tr>
            <tr>
                <th>Completitud</th>
                <td>{{ entity.completitud }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('encuesta') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('encuesta_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
