<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Encuestas - CGC</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />

    <link href="{{ asset('css/business-casual.css') }}" rel="stylesheet" type="text/css" />

    <!-- Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">
</head>

<body>

    <div class="brand">Encuestas - CGC</div>
    <div class="address-bar">Conformidad | Satisfaccion | Mejor atencion</div>

    <!-- Navigation -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
                <a class="navbar-brand" href="index.html">PROFYM</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
               {% if app.user  != '' %}
                    <li>
                        <a href="{{ path('encuesta_new') }}">Cargar encuesta</a>
                    </li>
                    <li>
                        <a href="{{ path('fos_user_security_logout') }}">Cerrar Sesion</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    

        <div class="row" style="width: 600px; margin: 0 auto;">
            <div class="col-md-12"> 
                <div class="box">
                         {% block fos_user_content %}{% endblock %}
                </div>    
            </div>
        </div>

    <!-- /.container -->

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Copyright &copy; QUAY S.A 2015</p>
                </div>
            </div>
        </div>
    </footer>

    {% block javascripts1 %}
        <script src="{{asset('js/')}}jquery.js"></script>
        <script src="{{asset('js/')}}bootstrap.min.js"></script>
    {% endblock %}
</body>

</html>
